.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* overflow: hidden; */
    position: relative;
}

input,
textarea {
    @apply bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-primary;

    padding: 0.25rem 0.5rem !important;
}

.comment:hover .dltBtn {
    opacity: 1;
}
